<p><%= @item.name %></p>
<p><%= @item.price %></p>
<!-- list of locations with vending machines that carry that snack -->
<!-- average price for snacks in those vending machines -->
<!-- count of the different kinds of items in that vending machine. -->
